{% extends 'notes/base.html' %}

{% block content %}
<div class="login-container">
    <div class="login-top-container wrapper">
      <h2>ログイン</h2>
      <p>ログインして記事に<span>❤️</span>しよう!</p>
    </div>
    <div class="login-form-container wrapper">
      <form action="{% url 'notes:login' %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">
              {{ field.label }}
          </label>
          {{ field }}
          {{ field.errors }}
        </div>
        {% endfor %}
        <div class="password-wrapper">
          <div class="toggle-password">
            <i class="fa-solid fa-eye" id="togglePassword"></i>
          </div>
        </div>
        <div class="login-btn">
          <button type="submit">ログイン</button>
        </div>
      </form>
    </div>
    <script>
      document.getElementById('togglePassword').addEventListener('click', function () {
          var passwordInput = document.getElementById('{{ form.password.id_for_label }}');
          var icon = this.querySelector('i');
          if (passwordInput.type === "password") {
              passwordInput.type = "text";
              icon.classList.remove('fa-eye');
              icon.classList.add('fa-eye-slash');
          } else {
              passwordInput.type = "password";
              icon.classList.remove('fa-eye-slash');
              icon.classList.add('fa-eye');
          }
      });
    </script>
</div>
{% endblock %}