/*について
------------------------------------------*/
.contact-top-container {
    padding-bottom: 40px;
}
.contact-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.contact-subtitle {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
}
.contact-step-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 20px 0 40px 0;
}
.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.step p {
    margin: 0 auto;
}
.step-circle {
  width: 30px;
  height: 30px;
  background-color: #f4f4f4;
  color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.step-line {
  width: 50px;
  height: 2px;
  background-color: #000;
}