/*共通のcss
------------------------------------------*/

@charset 'UTF-8';
* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}

body {
    font-size: 0.875rem;
    background-color: #ffffff;
}

a {
    color: #333;
    text-decoration: none;
    transform: all 0.5s;
}
a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

li {
    list-style: none
}

/*コンテンツ幅を共通にするための
------------------------------------------*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
main {
    margin-bottom: 160px;
}
.site-title {
    font-size: 2rem;
}


/*ヘッダーについて
------------------------------------------*/
#header {
    width: 100%;
    margin-bottom: 40px;
}
#header .site-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
#navi {
    background-color:#7acbe1;
    width: 100%;
}
#navi ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#navi li {
    padding: 10px 15px 10px 0;
}
#navi li a {
    font-size: 0.875rem;
    color: #ffff;
}

/*containerについて
------------------------------------------*/
#container {
    margin-bottom: 60px;
    align-items: center;
}
/*mainについて
------------------------------------------*/
#main {
margin-bottom: 40px;
}
.article-content {
    text-align: center;
    background: #ede8e4;
    margin-bottom: 80px;
}
.article-title {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}
#main p {
    font-size: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
}
/*sidebarについて
------------------------------------------*/
#sidebar {
    margin-bottom: 40px;
}
.author {
    text-align: center;
    margin-bottom: 60px;
}
.author img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 30px;
    text-align: center;
    object-fit: cover;
}
.category {
    text-align: center;
    margin-bottom: 60px;
}
.section-title {
    font-size: 1.2rem;
}
.category-list {
    font-size: 1.2rem;
    margin-bottom: 20px;
}



/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 767px) {
    /*-------------------------------------------
    header
    -------------------------------------------*/
    #header .site-title {
      padding: 20px 16px;
    }
    #navi {
      /* 横スクロールを表示 */
      overflow-x: scroll;
    }
}