/*共通のcss
------------------------------------------*/

@charset 'UTF-8';
* {
    box-sizing: border-box;
}
html {
    font-size: 100%;
}

body {
    font-size: 0.875rem;
    background-color: #ffffff;
}

a {
    color: #333;
    text-decoration: none;
    transform: all 0.5s;
}
a:hover {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

li {
    list-style: none
}

/*コンテンツ幅を共通にするための
------------------------------------------*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 0;
}
.site-title {
    font-size: 2rem;
}


/*ヘッダーについて
------------------------------------------*/
#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#header .site-title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 10px;
}
#navi {
    position: relative;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #f8f8f8;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}

.menu a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}

/* ハンバーガーメニューアイコン */
.menu-toggle {
    display: none;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 15px;
    display: block;
    z-index: 2; /* アイコンが他の要素の後ろに隠れないようにする */
}
/* ハンバーガーアイコンと×アイコンの切り替え */
.menu-toggle:not(:checked) + .menu-icon::before {
    content: "\2630"; /* ハンバーガーアイコン */
}

.menu-toggle:checked + .menu-icon::before {
    content: "\2715"; /* ×アイコン */
}
/* チェックが入った時にメニューを表示 */
.menu-toggle:checked + .menu-icon + .menu {
    transform: translateX(0);
}
/*containerについて
------------------------------------------*/
#container {
    align-items: center;
}
/*container-topについて
------------------------------------------*/
.container-top {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.container-subtop {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
}
/*mainについて
------------------------------------------*/
#main-container {
background-color: #eeeeee;
padding-top: 40px;
padding-bottom: 120px;
}
.article-content {
    text-align: center;
    padding: 1rem 1rem;
    margin-bottom: 80px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    border-radius: 2%;
}
.article-content ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
#post-created-at {
    writing-mode: vertical-rl; /* 縦書き表示 */
    width: 8%;
    white-space: nowrap; /* テキストが折り返されないように設定 */
    overflow: hidden; /* はみ出しを非表示 */
    text-align: left;
    margin: 0;
    padding: 0;
}
#post-image {
    width: 90%;
    padding-right: 5px;
}
.article-title {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
}
#main p {
    font-size: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
}
/*paginationについて
------------------------------------------*/
/* ページネーションの全体スタイル */
.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    justify-content: center; /* 中央寄せ */
}
/* 各ページ番号のスタイル */
.page-item {
    margin: 0 5px; /* 各ページ番号間の間隔 */
}

/* ページ番号リンクのスタイル */
.page-link {
    display: block;
    padding: 8px 12px;
    color: #007bff; /* 青色 */
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s;
}

/* ホバー時のスタイル */
.page-link:hover {
    background-color: #f0f0f0;
    color: #0056b3;
}

/* 現在のページ番号のスタイル */
.page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    cursor: default;
}

/* 非アクティブページのリンクに無効スタイル */
.page-item.disabled .page-link {
    color: #6c757d;
    background-color: transparent;
    border-color: #ddd;
    cursor: not-allowed;
}
/*sidebarについて
------------------------------------------*/

/*authorについて
------------------------------------------*/
#author-container {
    background-color: #9CD5EA;
    padding-top: 40px;
    padding-bottom: 120px;
}
.author-top {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.author-subtop {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
}
.author {
    text-align: center;
    padding-bottom: 70px;
}
.author img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    object-fit: cover;
}
.read-me {
    margin: 5px 0 10px 0;
}
/*social-iconsについて
------------------------------------------*/
.social-icons {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    justify-content: center;
}
.social-icons li {
    display: inline-block;
}
.social-icons a {
    text-decoration: none;
    color: #000;
    font-size: 45px;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #0073e6; /* ホバー時の色 */
}
/*categoryについて
------------------------------------------*/
#category-container {
    background-color: #eeeeee;
    padding-top: 40px;
    padding-bottom: 120px;
}
.category-top {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.category-subtop {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
}
.category {
    text-align: center;
    padding-bottom: 70px;
}
.category-list {
    font-size: 1.2rem;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.4);

}
/*pick-upについて
------------------------------------------*/
#pick-up-container {
    background-color: #5FD8AA;
    padding-top: 40px;
    padding-bottom: 120px;
}
.pick-up-top {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
.pick-up-subtop {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 0.75rem;
}
.pick-up {
    text-align: center;
    padding-bottom: 70px;
}
.section-title {
    font-size: 1.2rem;
}
/*footerについて
------------------------------------------*/
#footer {
    font-size: 0.875rem;
    background-color: #e6f0f0;
}
#footer .item {
    margin-bottom: 20px;
    width: 100%;
}
/*contentについて
------------------------------------------*/
footer {
    padding-top: 40px;
}
#footer .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
}
.content-top {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
/*aboutについて
------------------------------------------*/
#footer ul.about-list {
    margin: 20px 0;
    padding: 0;
}
#footer ul.about-list li {
    margin-bottom: 10px;
}
#footer ul.about-list .arrow {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    color: #333;
}/*
疑似要素で三角矢印を表示
border～プロパティで三角を作り、positionで位置調整
-------------------------------------------------*/
#footer ul.about-list .arrow::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
}
/*menuについて
------------------------------------------*/
#footer ul.menu-list {
    border-bottom: 1px solid #777;
    margin: 20px 0;
    padding: 0;

}
#footer ul.menu-list li {
    border-top:  1px solid #777;
    padding: 15px;
}
#footer .copyright {
    font-size: 0.750rem;
    text-align: center;
    padding: 10px 0;
}
/*-------------------------------------------
SP
-------------------------------------------*/
@media (min-width: 768px) {
    #header {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    #header .site-title {
        font-size: 3rem;
    }
    #main {
        max-width: 1024px;
        margin: 0 auto;
        padding: 2rem;
    }
    .article-content ul {
        flex-direction: row;
    }
    #post-created-at {
        width: 10%;
        text-align: center;
    }
    #post-image {
        width: 85%;
    }
    #footer .content {
        flex-direction: row;
        justify-content: space-between;
    }
    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        transform: none;
        height: auto;
        background-color: transparent;
        gap: 0;
    }
    .menu a {
        padding: 0 15px;
    }
    .menu-icon,
    .menu-toggle {
        display: none;
    }
    #post-detail-title {
        font-size: 1.5rem; /* タイトルのフォントサイズを小さく */
    }

    #post-detail-text {
        padding: 20px; /* テキストのパディングを調整 */
}