<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet CSS -->
     {% load static %}
    <link rel="stylesheet" href="{% static 'notes/css/index.css' %}">

    <title>毛利謙太のNotes</title>
</head>
<body>

  <header id="header" class="wrapper">
      <div class="site-title">
        <a href="{% url 'notes:index'%}">Notes</a>
      </div>
      
      <nav id="navi">
        <ul class="navi-menu">
          <li>
            <a href="#">料理</a>
          </li>
          <li>
            <a href="#">雑談</a>
          </li>
          <li>
            <a href="#">仕事</a>
          </li>
          <li>
            <a href="#">プログラミング</a>
          </li>
          <li>
            <a href="#">私について</a>
          </li>
        </ul>
      </nav>
  </header>

  <div id="container" class="wrapper">
    <main id="main">
      {% for post in post_list %}
          <div class="article-content">
            <h2 class="article-title"><a href="{% url 'notes:detail' post.pk %}" class="btn btn-dark">{{ post.title }}</a>
            </h2>
            <p>{{ post.created_at}}/ {{ post.category }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="画像">
            {% else %}
            <p>画像がありません。</p>
            {% endif %}
          </div>
        {% endfor %}
    </main>

    <aside id="sidebar">
      <section class="author">
        <img src="{% static 'notes/images/my_prof.jpg' %}" alt="">
        <h5 class="side-title">毛利 謙太</h5>
        <h3 id="name-english">Kenta Mouri</h3>
        <a href="#">私について</a>
      </section>
    </aside>
  </div>

  <div>
    <ul>
        <li>カテゴリ一覧</li>
        {% for category in category_list %}
        <li><a href="{% url 'notes:category' category.pk %}">{{ category }}</a></li>
        {% endfor %}
    </ul>
  </div>
  {% include 'notes/page.html' %}
  <footer>
        <p>毛利謙太</p>
  </footer>


</body>
</html>