<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet CSS -->
     {% load static %}
    <link rel="stylesheet" href="{% static 'notes/css/index.css' %}">

    <title>毛利謙太のNotes</title>
</head>
<body>

  <header id="header">
      <div class="site-title wrapper">
        <a href="{% url 'notes:index'%}">Notes</a>
      </div>
      
      <nav id="navi">
        <ul class="wrapper">
          <li>
            <a href="#">料理</a>
          </li>
          <li>
            <a href="#">雑談</a>
          </li>
          <li>
            <a href="#">仕事</a>
          </li>
          <li>
            <a href="#">プログラミング</a>
          </li>
        </ul>
      </nav>
  </header>
  
  {% block content %}
  {% endblock %}

    <footer id="footer">
      <div class="content wrapper">
        <section class="item">
          <h3 class="footer-title">About</h3>
          <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
          <ul class="about-list">
            <li><a href="#" class="arrow">プロフィール詳細</a></li>
            <li><a href="#" class="arrow">お仕事の依頼</a></li>
            <li><a href="#" class="arrow">お問い合わせ</a></li>
          </ul>
        </section>

        <section class="item">
          <h3 class="footer-title">Menu</h3>
          <ul class="menu-list">
            <li><a href="#">NEW</a></li>
            <li><a href="#">CATEGORY</a></li>
            <li><a href="#">COLUMN</a></li>
            <li><a href="#">SERIES</a></li>
            <li><a href="#">Q&A</a></li>
          </ul>
        </section>

        <section class="item">
          <h3 class="footer-title">Twitter</h3>
          <a class="twitter-timeline" data-height="315" href="https://twitter.com/X?ref_src=twsrc%5Etfw">Tweets by X</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>
      </div>

      <p class="copyright">&copy Notes</p>
    </footer>


</body>
</html>