{% extends 'notes/base.html' %}
{% load static %}

{% block content %}
<div id="container" class="wrapper">

    <main id="main">
      <div class="container-top">
        What's New?
      </div>
      <div class="container-subtop">
        最新の投稿！
      </div>  
      {% for post in post_list %}
          <div class="article-content">
            <ul>
              <li id="post-created-at">
                <p>{{ post.created_at|date:"Y.m.d"}}</p>
              </li>
              <li id="post-image">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="画像">
                {% else %}
                <p>画像がありません。</p>
                {% endif %}    
              </li>
            </ul>
            <h2 class="article-title">
              <a href="{% url 'notes:detail' post.pk %}" class="btn btn-dark">{{ post.title }}</a>
            </h2>
          </div>
        {% endfor %}

      <div class="page-menu">
      {% include 'notes/page.html' %}
      </div>

    </main>


    <aside id="sidebar">
      <div class="author-top">
        What's About Me?
      </div>
      <div class="author-subtop">
        どんなひと？
      </div>
      <section class="author">
         <img src="{% static 'notes/images/my_prof.jpg' %}" alt="">
        <h3 class="section-title">Kenta Mouri</h3>
        <div class="read-me">
          <a href="{% url 'notes:about' %}">私について</a>
        </div>
      </section>
      <div class="category-top">
        Category
      </div>
      <div class="category-subtop">
        カテゴリから探す
      </div>
      <section class="category">
        <div>
          <h3 class="section-title">カテゴリ一覧</h3>
          {% for category in category_list %}
          <div class="category-list"><a class="" href="{% url 'notes:category' category.pk %}">{{ category }}</a></div>
          {% endfor %}
        </div>
      </section>
    </aside>
  </div>

{% endblock %}
