{% extends 'notes/base.html' %}
{% load static %}

{% block content %}
<div id="container">
  <div id="main-container">
    <main id="main" class="wrapper">
      <div class="container-top">
        What's New?
      </div>
      <div class="container-subtop">
        最新の投稿！
      </div>
      {% for post in post_list %}
          <div class="article-content">
            <ul>
              <li id="post-created-at">
                <p>{{ post.created_at|date:"Y.m.d"}}</p>
              </li>
              <li id="post-image">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="画像">
                {% else %}
                <p>画像がありません。</p>
                {% endif %}
              </li>
            </ul>
            <h2 class="article-title">
              <a href="{% url 'notes:detail' post.pk %}" class="btn btn-dark">{{ post.title }}</a>
            </h2>
              {% if post.id in liked_post %}
                <!-- 既に「いいね」している場合 -->
                <button class="like-button liked">❤️<span class="like-count">{{ post.like_count }}</span></button>
              {% else %}
                <!-- 「いいね」していない場合 -->
                <button class="like-button">♡ <span class="like-count">{{ post.like_count }}</span></button>
                <!-- 未ログインユーザーへのメッセージ -->
                <p><a href="{% url 'login' %}?next={{ request.path }}">ログイン</a>すると「いいね」できます。</p>
              {% endif %}
          </div>
        {% endfor %}

      <div class="page-menu">
      {% include 'notes/page.html' %}
      </div>
    </main>

  </div>

    <aside id="sidebar">
      <div id="author-container">
        <section class="author wrapper">
          <div class="author-top">
            What's About Me?
          </div>
          <div class="author-subtop">
            どんなひと？
          </div>
          <img src="{% static 'notes/images/my_prof.jpg' %}" alt="">
          <h3 class="section-title">Kenta Mouri</h3>
          <div class="read-me">
            <a href="{% url 'notes:about' %}">私について</a>
          </div>
          <nav>
            <ul class="social-icons">
              <li><a href="https://www.instagram.com/your_username" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="https://www.facebook.com/your_username" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/your_username" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a></li>
              <li><a href="https://github.com/your_username" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>
          </nav>
        </section>
      </div>
      <div id="category-container">
        <section class="category wrapper">
          <div class="category-top">
            Category
          </div>
          <div class="category-subtop">
            カテゴリから探す
          </div>
          <div class="category-list-container">
            {% for category in category_list %}
            <div class="category-list">
              <a class="" href="{% url 'notes:category' category.pk %}">
                {% if category.image %}
                <img class="category-image" src="{{ category.image.url }}" alt="{{ category.name }}">
                {% else %}
                <p>画像がありません。</p>
                {% endif%}
              </a>
              <p>{{ category.name }}</p>
            </div>
            {% endfor %}
          </div>
        </section>
      </div>
      <div id="pick-up-container">
        <section class="pick-up wrapper">
          <div class="pick-up-top">
            Pick-Up
          </div>
          <div class="pick-up-subtop">
            注目の記事！
          </div>
          <div class="pick-up-list-container">
            {% if pickups %}
              {% for pickup in pickups %}
              <div class="pick-up-list">
                <a class="" href="{% url 'notes:detail' pickup.pk %}">
                  {% if pickup.image %}
                  <img class="pick-up-image" src="{{ pickup.image.url }}" alt="{{ pickup.name }}">
                  {% else %}
                  <p>画像がありません。</p>
                  {% endif %}
                  </a>
                <p>#{{ pickup.id}}  {{ pickup.title }}</p>
              </div>
              {% endfor %}
            {% else %}
              <p>現在、注目の記事はありません。</p>
            {% endif %}
          </div>
        </section>
      </div>
      <div id="ranking-container">
        <section class="ranking wrapper">
          <div class="ranking-top">
            Ranking
          </div>
          <div class="ranking-subtop">
            人気の記事
          </div>
          <div>
            <h3 class="section-title">カテゴリ一覧</h3>
            {% for category in category_list %}
            <div class="category-list"><a class="" href="{% url 'notes:category' category.pk %}">{{ category }}</a></div>
            {% endfor %}
          </div>
        </section>
      </div>
      <div id="scene-container">
        <section class="scene wrapper">
          <div class="scene-top">
            Scene
          </div>
          <div class="scene-subtop">
            シーンや気持ちで探す
          </div>
          <div>
            <h3 class="section-title">カテゴリ一覧</h3>
            {% for category in category_list %}
            <div class="category-list"><a class="" href="{% url 'notes:category' category.pk %}">{{ category }}</a></div>
            {% endfor %}
          </div>
        </section>
      </div>

    </aside>
  </div>

{% endblock %}
